.box {
  width: 400px;
  background-color: aquamarine;
  padding: 10px;
  border-radius: 20px;
}

.btn1 {
  border-radius: 50%;
  font-size: 15px;
  font-weight: bolder;
}

.btn2 {
  border-radius: 50%;
  font-size: 10px;
  font-weight: bolder;
}
